<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VTXScannerLaptimer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B34171E2348CAE700C1CA0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B3417302348CAE900C1CA0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B34173B2348CAE900C1CA0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
